*{box-sizing: border-box;
padding: 0;
margin: 0;}

:root {--light-blue: hsl(212, 45%, 89%);}
:root {--dark-blue: hsl(218, 44%, 22%);}
:root {--grayish-blue: hsl(216, 15%, 48%);}
:root {--white: hsl(0, 0%, 100%);}

body {
  
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-blue);
  min-height: 100vh;
  display: flex;justify-content: center; align-items: center;
  flex-direction: column;

}

img {
  max-width: 100%;
 
 
}

.QR-image  img{border-radius: 16px;}

.QR-CH .QR-Header{padding-top: 30px;
padding-bottom: 25px; margin-inline-start: 2.5em; }




.QR-CH  .QR-par {
margin-inline-start: 2.5em; 
padding-inline-start: 0.2em; padding-inline-end: 0.2em; padding-bottom: 1.5em; opacity: 0.9;
}

.QR-project{margin: 50px; height: 50em;} 

.QR-CH{height: 52em;}


/* Utility */




/*container*/
.container {max-width: 500px;
  background-color: var(--white);
  padding: 23px;  border-radius: 24px;

}

.container-sm{max-width: 400px;}


/*texts*/
.text-xl {
 color: var(--dark-blue);
 font-weight: 700;
  font-size: 1.6em;
}

.text-sm {
  font-size: 22px;
  color: var(--grayish-blue);
  font-weight: 400;

  
}
.text-center {
 text-align: center;
}